    <%- include("../included/head.ejs") %>
    <link rel="stylesheet" href="/css/admin.product-styles.css">
    <link rel="stylesheet" href="/css/basic.product-styles.css">

    <script src="/js/admin/admin.js" defer></script>
    <script src="/js/admin/delete-product.js" defer></script>

  </head>
  <body>
    <%- include("../included/header/header.ejs", {page}) %>
    <main class="pageStructure">
      <h1 class="page-title">Product-Management</h1>
      <section>
        <ul class="grid grid-cols-4 gap-3">
          <!-- Karte als Link zum Kreieren -->
          <li class="self-center">
            <a class="min-h-80 flex items-center justify-center" href="/admin-create-products">
              <svg id="svg-plus" class="w-2/3 h-2/3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" id="Plus"><path fill="#ee8300" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10ZM11 8a1 1 0 1 1 2 0v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H8a1 1 0 1 1 0-2h3V8Z" clip-rule="evenodd" class="color000000 svgShape"></path></svg>
            </a>
          </li>
          <!-- Produkte -->
          <% productArray.forEach((product)=>{ %>
            <li>
              <%- include("./included/productCard.ejs", {product})  %>
            </li>
        <% }) %>
        </ul>
      </section>
     <%- include("../included/message.ejs")  %>
    </main>
    <%- include("../included/footer.ejs") %>
 </body>
 </html>