<%- include('../../' + projectPath.viewPath.included.head) %>
<link rel="stylesheet" href="/css/admin.product-styles.css">
<link rel="stylesheet" href="/css/basic.product-styles.css">
<script src="/js/product/product.js" defer></script>
</head>
<body>
<%- include("../../" + projectPath.viewPath.included.header.header, {page}) %>
<main class="pageStructure">
  <h1 class="page-title">Products</h1>
  <section>
    <ul class="grid grid-cols-4 gap-3">
               <!-- Produkte -->
               <% if (productArray){ %>
      <% productArray.forEach((product)=>{ %>
        <li>
          <%- include("../../" + projectPath.viewPath.product.included.productCard, {product})  %>
        </li>
    <% })} %>
    </ul>
  </section>
 <%- include("../../" + projectPath.viewPath.included.message)  %>
</main>
<%- include("../../" + projectPath.viewPath.included.footer) %>
</body>
</html>