<article class="productCard">
  <img
    class="productCardImage"
    src="<%= product.url %>"
    alt="<%= product.title %>"
  />
  <div class="productCardIconContainer">
    <% switch (product.status) {case "fastAusverkauft": %>
    <p id="productCardStatus" class="fastAusverkauft">fast ausverkauft</p>
    <%break; case "ausverkauft": %>
    <p id="productCardStatus" class="ausverkauft">ausverkauft</p>
    <%break; case "undeifined": %>
    <p id="productCardStatus" class="verfügbar">verfügbar</p>
    <% break; default: %>
    <p id="productCardStatus" class="verfügbar">verfügbar</p>
    <% } if (product.sale === "true") { %>
    <p id="productCardDiscount" class="productCardDiscount">
      -<%= product.discount %>%
    </p>
    <% } %>
  </div>
  <div class="productCardBody">
    <div class="w-full">
      <h2 class="productCardTitle"><%= product.title %></h2>
    </div>
    <div class="w-full">
      <h4 class="productCardPriceContainer">
        <% if (product.sale === "false") { %>
        <span class="productCardPrice" id="productCardPrice"
          ><%= product.price %></span
        ><span> €</span>
        <% } else if (product.sale === "true") {%>
        <span class="line-through productCardPrice" id="productCardPrice"
          ><%= product.price %></span
        ><span> €</span>
        <span class="productCardSalePrice" id="productCardSalePrice"
          ><%= product.salePrice %></span
        ><span> €</span>
        <% } %>
      </h4>
    </div>
    <div class="mt-3 flex flex-row gap-2 justify-end w-full">
      <button class="btn btn_color_alt c-primary-black">
        <a
          href="<%= locals.projectPath.routPath.product.get.singleProduct.replace(':_id', product._id) %>"
          >Zum Produkt</a
        >
      </button>
    </div>
  </div>
</article>
